<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lib1280.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Lib1280.Properties.Settings>
            <setting name="Lib1280_com_ocrwebservice_www_OCRWebService" serializeAs="String">
                <value>http://www.ocrwebservice.com/services/OCRWebService.asmx</value>
            </setting>
        </Lib1280.Properties.Settings>
    </applicationSettings>
</configuration>