html{
	height:100%;
	background:url(../images/background.jpg);
}
#index_body{
	margin:0px;
	padding:0;
	border:0;
	float:left;
	width:100%;
	height:100%;
	background:url(../images/bg-body.jpg) repeat-x;
	font:10px/12px Verdana, Arial, Helvetica, sans-serif;
	color:#665544;
}

body {
	margin:0;
}

* {
	font:10px/12px Verdana, Arial, Helvetica, sans-serif;
	}

form{
	margin:0;
	padding:0;
}
#main{
	width:960px;
	margin:0 auto;
	padding:0 0 0px;
	overflow:hidden;
}
#header{
	width:960px;
	height:154px;
	margin:0px 0 0;
	z-index: 2;
	position:relative;
}
#header h1{
	position:absolute;
	top:39px;
	left:80px;
	margin:0;
	width:800px;
	height:115px;
	overflow:hidden;
	z-index:2;
}
#header h1 a{
	display:block;
	margin:0;
	text-decoration:none;
	text-indent:-9999px;
	width:800px;
	height:115px;
	z-index:2;
}

#header .logo-fz{
	position:absolute;
	top:55px;
	right:6px;
	width:65px;
	height:74px;
	z-index:1;
}
#header .logo-fz a{
	float:left;
	width:65px;
	height:74px;
	cursor:pointer;
	text-decoration:none;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bg-logo-fz.png) no-repeat 100% 0;
}
/*--navigation--*/
.navigation{
	width:960px;
	position:relative;
	text-align:center;
	z-index:999;
}
.navigation-holder{
	left:50%;
	float:left;
	position:relative;
	text-align:center;
	min-width:800px;
}
.navigation-holder div.navigation-wrapper{
	left:-50%;
	float:left;
	position:relative;
	text-align:center;
	min-width:800px;
	background:url(../images/sprites.png) no-repeat -702px -79px;
}
#navigation_span{
	display:block;
	margin:0 0 0 14px;
	padding:0 14px 0 5px;
	height:39px;
	min-width:767px;
	white-space:nowrap;
	text-align:center;
	background:url(../images/sprites.png) no-repeat -214px 0;
}
.navigation a{
	text-decoration:none;
	font-size:11px;
	line-height:30px;
	color:#950;
}
.navigation a:hover{text-decoration:underline;}

.navigation img{border:0;vertical-align:middle;}

.paladin{
	position:absolute;
	top:85px;
	left:13px;
	width:195px;
	height:377px;
	z-index:100;
}
#content{
	width:960px;
	position:relative;
}
h2{
	margin:0;
	font-size:18px;
	line-height:20px;
	color:#000;
}
h3{
	margin:0;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	color:#000;
}
#content p{
	margin:8px 0;
	font-size:11px;
	line-height:16px;
	color:#000;
}
/*--container-block--*/
.container-block,
.container-block-full,
.container-holder,
.container{
	width:800px;
	overflow:hidden;
}
.container-block, .container-block-full{
	background:url(../images/bg-content-line.jpg) repeat-y;
	margin:0 auto;
}
.container-block-full{
	background:url(../images/bg-content-line-full.jpg) repeat-y;
}
.container-top, .container-top-full{
	width:800px;
	height:23px;
	background:url(../images/sprites.png) no-repeat 0 -39px;
}
.container-top-full{
	background:url(../images/sprites.png) no-repeat -308px -157px;
}
.container{
	overflow:hidden;
	min-height:280px;
}
.container-bottom, .container-bottom-full{
	width:800px;
	height:23px;
	background:url(../images/sprites.png) no-repeat 0 -56px;
}
.container-bottom-full{
	background:url(../images/sprites.png) no-repeat -308px -174px;
}
* html .container{
	height:1%;
	overflow:visible;
}
.info-block{
	float:left;
	width:305px;
	padding:15px 0 12px 140px;
	position:relative;
}
.info-block img{
	float:right;
	margin:3px 0 0;
	border:none;
}
.info-block p{
	padding:1px 0 0;
}
.info-block strong{
	display:block;
	font-size:11px;
	line-height:18px;
	font-weight:bold;
	color:#000;
}
.info-block a.btn-kostenlos-anmelden{
	float:right;
	margin:15px 0;
	width:308px;
	height:38px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	background:url(../images/sprites.png) no-repeat 0 -123px;
	font-size:18px;
	line-height:35px;
}
.info-block a.btn-kostenlos-anmelden:hover{
	background-position:0 -161px;
	color:#fff;
}
.register{
	width:600px;
}
.register h3{
	font-size:14px;
	line-height:20px;
}
#content .register .error{
	font-size:12px;
}

.register label{
	font-size:12px;
	font-weight:bold;
}
.register input{
	margin-bottom:8px;
}
#content .register p{
	font-size:12px;
}
.register a{
	font-size:12px;
}
.register #register_button{
	font-size:12px;
}
#screenshot {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-align:center;
	z-index:999;
}

#screenshot_image {
	margin:0 auto;
	position:relative;
	top:60px;
	left:0px;
	width:640px;
	z-index:999;
}

.screenshots{
	display:block;
	margin:0;
	padding:2px 0 0;
	clear:both;
}
.screenshots li{
	float:left;
	display:inline;
	margin:0 23px 0 0;
	list-style:none;
	width:80px;
	height:60px;
	padding:3px;
	background:url(../images/bg-frame.gif) no-repeat;
}
.screenshots li.last{margin:0;}
.screenshots img{
	display:block;
	margin:0;
	border:none;
}
/*--login-block--*/
.login-block{
	float:right;
	width:250px;
	margin:0 49px 0 0;
	padding:15px 0 0;
	display:inline;
}
.login-block h2{text-align:center;}
.login-block div{
	overflow:hidden;
	margin:0 0 25px;
	z-index:-999;
}
.login-block label{
	display:block;
	margin:0;
	padding:0 0 6px;
	width:249px;
	overflow:hidden;
	z-index:-999;
}
.login-block label strong{
	float:left;
	margin:0;
	display:inline;
	width:115px;
	text-align:right;
	font-size:11px;
	line-height:22px;
	color:#000;
	z-index:-999;
}
.login-block label span{
	float:right;
	width:120px;
	height:18px;
	padding:3px;
	background:url(../images/bg-input-text.jpg) no-repeat;
	z-index:-999;
}
.login-block .text{
	float:left;
	width:111px;
	margin:0;
	padding:1px 3px;
	border:1px solid #fff;
	font-size:11px;
}
.login-block #server_select{
	margin:0 0 0 8px;
	padding:2px;
	font-size:11px;
	border:1px solid #bbb;
	z-index:-999;
}
#server_select option{
	padding-right:7px;
	z-index:-999;
}

.login-block a.btn-login{
	clear:both;
	margin:14px 1px 0 0;
	display:block;
	width:106px;
	height:26px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	line-height:22px;
	font-weight:bold;
	overflow:hidden;
}
.login-block a.btn-login:hover{
	width:212px;
	margin-left:-106px;
}

.login-block p{
	text-align:left;
	clear:both;
}

.logged_in p{
	text-align:left;
}
.logged_in strong{
	font-weight:bold;
	font-size:11px;
}
#servers-list{
	display:none;
	position:absolute;
	top:101px;
	left:697px;
	width:196px;
	margin:0;
	z-index:999;
	overflow:visible;
}
.servers-list-top{
	margin:0;
	padding:0;
	width:192px;
	height:10px;
	background:url(../images/sprites.png) no-repeat -800px -39px;
}
#servers-list-block{
	width:192px;
	height:100%;
	margin:0;
	margin-top:-31px;
	padding: 0 0 4px 4px;
	background:url(../images/bg-servers.jpg) repeat-y;
}
.servers-list-bottom{
	margin:0;
	padding:0;
	width:192px;
	height:10px;
	background:url(../images/sprites.png) no-repeat -800px -49px;
}
#servers-list .server_button{
	margin: 9px 0 -6px 4px;
	width:84px;
	height:21px;
	line-height:26px;
	background-position:0 0;
	background-repeat:no-repeat;
	position:relative;
}
.server-form{
	margin-bottom:-8px;
}
#servers-list .server_button_hover{
	background-position:0 -22px;
	margin: 9px 0 -6px 4px;
	position:relative;
}
#footer{
	width:702px;
	margin:9px auto 0;
	overflow:hidden;
	background:url(../images/news_background.png) repeat-y;
}
.footer-header{
	width:702px;
	height:22px;
	background:url(../images/sprites.png) no-repeat 0 -79px;
}
.footer-holder{
	width:702px;
	padding:0 0 5px;
}
.footer-holder div{
	width:673px;
	overflow:hidden;
	padding:2px 0 20px 29px;
	margin:0;
}
.footer-bottom{
	width:702px;
	height:22px;
	background:url(../images/sprites.png) no-repeat 0 -101px;
}
div.news-separator{
	padding:0;
	margin:0 0 10px 320px;
	width:59px;
	height:18px;
	background:url(../images/sprites.png) no-repeat -414px -123px;
}
.footer-holder span{
	float:left;
	margin:5px 9px 0 0;
	padding:10px 0 0;
	display:inline;
	width:53px;
	height:24px;
	font-size:11px;
	line-height:14px;
	font-weight:bold;
	color:#543;
	text-align:center;
	background:url(../images/sprites.png) no-repeat -308px -123px;
}
.footer-holder .global-news{
	float:left;
	margin:5px 9px 0 0;
	padding:10px 0 0;
	display:inline;
	width:53px;
	height:24px;
	font-size:11px;
	line-height:14px;
	font-weight:bold;
	color:#543;
	text-align:center;
	background:url(../images/sprites.png) no-repeat -361px -123px;
}
.footer-holder strong{
	display:block;
	margin:0;
	padding:3px 0 0;
	font-size:11px;
	line-height:14px;
	color:#543;
	font-weight:bold;
}
.footer-holder b{
	font-weight:bold;
	font-size:11px;
}
.footer-holder p{
	margin:0;
	font-size:11px;
	line-height:14px;
	color:#543;
	margin:0 15px 0 61px;
}
.footer-holder a{
	text-decoration:none;
	color:#543;
	font-size:11px;
	font-weight:bold;
}
.footer-holder a:hover{text-decoration:underline;}
.closure {
	font-size:11px;
	line-height:30px;
	text-align:center;
	color:#543;
	padding-top:10px;
}
.closure a {
	text-decoration:none;
	color:#543;
}
.closure a:hover{text-decoration:underline;}
.error{
	color: rgb(180, 0, 0);
	font-weight:bold;
	font-size:14px;
}

td { 
	font-size:9pt; 
}
tr.lit td { 
	font-weight:bold; background-color:#FADC9B; background-image:none;
}
th { 
	font-size:9pt; text-align: left; font-weight:bold; background-color:#DED3B9; background-image:url(../graphic/background/body.jpg); 
}

#gamebar {
	width: 100%;
	height: 24px;
	background-image:url(../graphic/index/bar.png);
	background-repeat: repeat-x;
}
#gamebar_content {
	position:relative; left: 2px; top:8px;
	width: 800px; 
	margin: auto;
	z-index: 10;
}

#flag1_dropdown {
	margin-right: 10px;
}

#flag1_dropdown img {
	border: 0;
	position: relative;
	top: 2px;
	z-index: 10;
}

#flags {
	text-align:left;
	list-style-type: none;
	padding: 2px;
	position:absolute;
	top: 5px; left: 0px;
	background-color: #F2E4BF;
	border: 1px solid #88462C;
	display: none;
	z-index: 10;
}

#flags li a { line-height: 10px; }

a:link	{ font-weight:bold; color: #804000; text-decoration:none; }
a:visited	{  font-weight:bold; color: #804000; text-decoration:none; }
a:active	{  font-weight:bold; color: #0082BE; text-decoration:none; }
a:hover { font-weight:bold; color: #0082BE; text-decoration:none; }

table.vis td { background-color:#F7EED3; }
table.vis td.selected { background-color:#DFCCA6; }
