ul.quickbar {
	border: 1px solid black;
	background-color: #F1EBDD;
	border-spacing:1px;
	list-style-type:none;
	padding:0;
	margin:0 auto;
}
 ul.quickbar li {
	padding:0px;
 	padding-left: 4px; padding-right: 4px;
	white-space: nowrap;
	background-color: #F8F4E8;
	background-image:url(../images/grey.jpg);
	display:inline;
}